body{
    width: 100vw;
    height: 100vh;
   /* background: linear-gradient(rgb(19, 249, 249),rgb(1, 174, 232));*/
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0%;
    background-color: black;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
}

.title {
    position: fixed;
    bottom: 0%;
    width: 100%;             
    text-align: center;      
    margin: 0;
    transform: translatey(15%);
    font-size: clamp(2rem, 20vw, 20rem);
    font-weight: 800;
    color: azure;
    line-height: 1;
   
}

.subtitle {
    position: fixed;
    bottom: 0%;
    width: 100%;             
    text-align: center;   
    left: -5px;   
    margin: 0;
    transform: translatey(14%);
    font-size: clamp(2rem, 20vw, 20rem);
    font-weight: 800;
    color: rgb(0, 0, 0);
    line-height: 1;
   
}


.projectcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;

}

.card1, .card2 {
    padding:   0px 20px ;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0 50px 0 50px;
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    justify-content: center;
   
   
}


.cardtitle{
    color: azure;
    font-size: 3vw;
    margin-top: 20px;
}

.demo, .github{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    align-self: center;
    margin-bottom:15px;
    padding: 10px;
    
}


.buttonrow {
    display: flex;
    justify-content: center;
    gap: 10px;       /* spacing between the buttons */
    width: 100%;
}

